:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;

    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;

    --color-tertiary-light: #2998ff;
    --color-tertiary-dark: #5643fa;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark-1: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-grey-dark-1);
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* utils */
.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* media queries */
/* phone */
@media only screen and (max-width: 600px) {  };

/* tab portrait */
@media only screen and (max-width: 900px) { 
    html {
        font-size: 50%;
    }
};

/* tab landscape */
@media only screen and (max-width: 1200px) { 
    html {
        font-size: 56.25%;
    }
};

/* big desktop */
@media only screen and (max-width: 1800px) { 
    html {
        font-size: 75%;
    }
};

